@model List<projectwerk.Models.Product>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producten - Broodjeszaak</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/StyleSheet.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" style="font-weight: bold; font-size: 20px; color: #4CAF50;" asp-controller="Home" asp-action="Index">The Breadpit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a asp-action="Winkelkarretje" class="nav-link active" aria-current="page" style="font-weight: bold; font-size: 20px; color: #4CAF50;">
                            <i class="bi bi-cart"></i> Winkelkarretje
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="AllOrders" class="nav-link" style="font-weight: bold; font-size: 20px; color: #4CAF50;">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="my-5"></div>

    <div class="container">
        <h1>Products</h1>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-sm mb-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@string.Format("{0:C}", product.Price)</p>
                            <form asp-action="Increment" asp-controller="Home" method="post">
                                <input type="hidden" name="id" value="@product.Id" />
                                <button type="submit" class="btn btn-primary">+</button>
                            </form>
                            <label id="label">@product.Quantity</label>
                            <form asp-action="Decrement" asp-controller="Home" method="post">
                                <input type="hidden" name="id" value="@product.Id" />
                                <button type="submit" class="btn btn-primary">-</button>
                            </form>
                            @if (product.Quantity > 0)
                            {
                                <form asp-action="AddDataOrderDetails" asp-controller="Home" method="post" class="d-inline">
                                    <input type="hidden" name="id" value="@product.Id" />
                                    <button type="submit" class="btn btn-primary">add</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/bootstrap-icons.min.js"></script>
</body>
</html>
