@model projectwerk.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registratie Success</title>
</head>
<body>
    <h2>Login Successful</h2>
    <p>FirstName: @Model.FirstName</p>
    <p>LastName: @Model.LastName</p>
    <p>Address: @Model.Address</p>
    <p>Phone: @Model.Phone</p>
    <p>Email: @Model.Email</p>
    <p>Password: @Model.Password</p>
</body>
</html>

